
.notify-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .notify-modal-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    .notify-modal-action {
        margin-top: 16px;
        .dx-button {
            min-width: 160px;
        }
    }
}