$primary: #5e81f4;
$dark: #1c1d21;
$secondary-light: #9698d6;
$secondary-dark: #8181a5;
$gray: #f6f6f6;
$dimmed: #f0f0f3;
$warn: #f4be5e;
$success: #7ce7ac;
$danger: #ff808b;
$white: #fff;
$deep-gray: #d9d9de;
$light-gray: #eeeeee;
$light-pink: #5e81f419;
$light-pink: #f5f5fa;
$dark-theme-black: #2b2b2b;

.primary {
  color: #5e81f4;
}

.dark {
  color: #1c1d21;
}

.secondary-light {
  color: #9698d6;
}

.secondary-dark {
  color: #8181a5;
}

.gray {
  color: #f6f6f6;
}

.dimmed {
  color: #f0f0f3;
}
.warn {
  color: #f4be5e;
}
.success {
  color: #7ce7ac;
}
.danger {
  color: #ff808b;
}
.white {
  color: #fff;
}
.deep-gray {
  color: #d9d9de;
}
.light-gray {
  color: #eeeeee;
}
.light-pink {
  color: #5e81f419;
}
.dark-theme-black {
  color: #2b2b2b;
}
