// layout variables (Desktop)
$header-height: 84px;
$sidebar-width: 85px;
$layout-padding: 28px;
$drawer-width: 242px;
$drawer-component-width: 380px;
$transition: all .3s ease-in-out;

// layout vairables (Mobile)
$header-height-mobile: 50px;
$sidebar-width-mobile: 50px;
$layout-padding-mobile: 16px;

// fonts variables (English)
$f-light: 'Lato-Light';
$f-regular: 'Lato-Regular';
$f-bold: 'Lato-Bold';
$f-black: 'Lato-Black';

// fonts variables (Arabic)
$f-light-ar: 'Cairo-Light';
$f-regular-ar: 'Cairo-Regular';
$f-bold-ar: 'Cairo-Bold';
$f-black-ar: 'Cairo-Black';

